.app  {
  height: 100vh;
  overflow: scroll;
  // pink white gradient for background
  background-color: rgb(252, 230, 231);
// background: rgb(255,255,255);
// background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(248,215,217,1) 100%);
}
