
<div class="navbar navbar-expand-lg shadow-sm mb-3 bg-danger-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><p class="fs-6 fw-light p-0 m-0 " id='logo-login'> DR.CHUMACHENKO</p></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-danger-subtle" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title border-bottom border-secondary" id="offcanvasNavbarLabel">DR.CHUMACHENKO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <% url = "https://api.privatbank.ua/p24api/pubinfo?exchange&coursid=5"%>
        <% user_serialized = URI.open(url).read%>
        <% user = JSON.parse(user_serialized)%>

        <div >
          <p ><%= "#{user[1]['ccy']}/#{user[1]['base_ccy']} - #{user[1]['buy'].to_f.round(4)}/#{user[1]['sale'].to_f.round(4)}"%> </p>
          <p ><%= "#{user[0]['ccy']}/#{user[0]['base_ccy']} - #{user[0]['buy'].to_f.round(4)}/#{user[0]['sale'].to_f.round(4)}"%> </p>
        </div>

        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to "Головна", root_path, class: "nav-link active", "aria-cuttent": "page"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Вийти", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "nav-link" %>
  

          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
