<div class="container mb-3">
  <div class="row-cols-auto">
    <% if @client.photos.any? %>
      <% @client.photos.each do |photo| %>
        <div class="col">
          <div class="card m-3" style="width: 200px;">
            <%= link_to cl_image_tag(photo.key, class: "card-img-top", height: "150px;"), photo %>
            <div class="card-body">
              <p class="card-text"><%=(photo.created_at + 7200).strftime('%d/%m/%y %H:%M') %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= link_to "Назад", client_path(@client), class: "btn btn-primary" %>
  <%= link_to "Додати фото", "upload", class: "btn btn-primary" %>
</div>
