<div class="container position-relative">
  <%= link_to client_path(@client) do %>
    <i class="fa-solid fa-angle-left back-btn"></i>
  <% end %>

  <%= link_to "upload", class: "btn fs-1 position-absolute end-0" do %>
    <i class="bi bi-plus-circle-fill"></i>
  <% end %>

  <div class="gallery mt-3">

    <% if @client.photos.any? %>
      <% @client.photos.each do |photo| %>
        <div class="gallery-card">
          <%= link_to cl_image_tag(photo.key, class: "gallery-img"), photo %>
          <div class="card-body">
            <p><%=(photo.created_at + 7200).strftime('%d/%m/%y %H:%M') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
