<%# uplod photo %>
<div class="container mb-3">
  <%= link_to client_path(@client) do %>
    <i class="fa-solid fa-angle-left back-btn"></i>
  <% end %>
  <div class="new-client-form">
    <%= simple_form_for [@client] do |f| %>
      <%= f.input :photos, label: "Виберіть фото:", as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, value: "Додати", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
