<div class="container">
  <div class="border-bottom border-2 mb-3">
    <h1>Добрий день <em>Анастасія!</em></h1>
  </div>
  <%= link_to "Паціенти", clients_path, class: "btn btn-primary"%>
  <%= link_to "Процедури", services_path, class: "btn btn-primary" %>
  <%= link_to "Препарати", medicines_path, class: "btn btn-primary" %>
</div>
