.fab-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

#add-button {
  // color: #f8d7d9;
  color: #3F72AF;
  width: 56px;
  height: 56px;
    :hover {
      color:#3c679c ;
      opacity: 1;
      transform: scale(1.2);
    }

    i {
      font-size: 56px;
      filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
    }
}

.fab-container:hover {
  color: blue;
  transform: scale(1.2); //  rotate(-45deg)
}


.back-btn {
  font-size: 20px;
  font-weight: 700;
}

// my buttons

.button-1 {
  background-color: bisque;
  border-radius: 5px;
}

.button-1:hover {
  background-color: rgba(255, 228, 196, 0.654);
}
