.fab-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  animation: rotation 0.8s ease-in-out;
}

#add-button {
  // color: #f8d7d9;
  color: #f8d7d9;
  font-size: 56px;

}

.fab-container:hover {
  color: blue;
  transform: scale(1.2); //  rotate(-45deg)
}


.back-btn {
  font-size: 20px;
  font-weight: 700;
}

// my buttons

.button-1 {
  background-color: bisque;
  border-radius: 5px;
}

.button-1:hover {
  background-color: rgba(255, 228, 196, 0.654);
}
