// clinet SHOW card
.client-card-avatar {
  display: flex;
  width: 150px;
  height: 200px;
  flex-direction: column;
  margin-right: 10px;
}

.client-card-avatar img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

// procedures

.client-card-service {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.client-card-service-list {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;
  padding: 5px;
  color: black;
}

.client-card-service-list a {
  text-decoration: none;
  color: black;
  margin: 0;
}


.client-card-service-btn {
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-size: 25px;
  // opacity: 0;
  // transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}


// index card
.index-card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fromBottom 0.8s ease-in-out;
}

.index-card {
  width: 90%;
  height: 80px;
  padding: 2px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  align-items: center;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .index-card-img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin-right: 10px;
  }

  p {
    font-size: 16px;
    margin: 0;
    font-weight: 300;
  }


}

@keyframes fromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
