
.navbar {
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  // background-color: #F4CFDF;
  // display: flex;
  // flex-direction: row;
  // // justify-content: space-around;
  // align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar i {
  font-size: 36px;
}
